@import "./utils/vars";
@import "./utils/reset";
@import "./utils/mixin";

@import "./components/logo";
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/occupation";
@import "./components/team";
@import "./components/clients";
@import "./components/portfolio";
@import "./components/section-portfolio";
@import "./components/footer";
@import "./components/modal";
@import "./components/container";
