.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-background-color);
}



.clients-item {
    background-color: transparent;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 210px;
    height: 92px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        border: 1px solid var(--accent-color);
        }
    
    @include tablet{
        width: 226px;
    }
    @include desktop{
        width: 170px;
    }
}


.clients-icon {
    fill: #afb1b8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        fill: var(--accent-color);
        }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;

    @include desktop{
        flex-wrap: nowrap;
    }

}