.footer {
    background: var(--secondary-background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.container-tab-footer{
    @include tablet{
        display: inline-flex;
        align-items: baseline;
        gap: 165px;
    }
    @include desktop{
        gap: 70px;
    }
}

.container-footer {
display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    @include desktop{
        padding-left: 20px;
        padding-right: 20px;
        align-items: stretch;
        justify-content: flex-start;
    }
    
}

.logo--footer{
margin-right: auto;
margin-left: auto;
@include desktop{
    margin-left: 0;
}
}

.container-footer-adress{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    
    width: 100%;

}

.footer-soc-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
    @include desktop{
        align-items: flex-start;
        margin-right: 93px;
        margin-bottom: 0;
    }
}



.footer-links-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-background-color);

    margin-bottom: 20px;
}


.footer-list a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-list{
        margin-bottom: 60px;
    @media screen and (max-width: 1199px) {
            text-align: center;
        }

    @include tablet{
        width: 232px;
    }
    @include desktop{
        margin-bottom: 0;
    }

}

.footer-link {
    color: var(--primary-background-color);
    margin-bottom: 9px;
}

.footer-link-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer {
    align-items: baseline;
}

.footer-team-soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soc-link-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    fill: var(--primary-background-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: var(--accent-color);
        }
}

.footer-subscribe {
    display: flex;
    @include tablet {
            max-width: 450px;
        }
    @include desktop{
    display: inline-flex;
    position: relative;
    }
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    @include desktop{
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 12px;
    }
}

.footer-input-container{
    @media screen and(max-width:1199px){
        padding-right: 20px;
        padding-left: 20px;
    }
    
}


.footer-input {
    height: 50px;
    width: 100%;
    min-width: 290px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin: 20px auto;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        }
        .subscribe-input-text+&:focus {
            outline: transparent;
            border: 1px solid var(--accent-color);
            }
    @include desktop{
        width: 358px;
        margin: 40px auto;
    }
}

.subscribe-input-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin-bottom: 20px;
    @include desktop{
        position: absolute;
        top: 0;
    }
}

.subscribe-btn {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #ffffff;
    margin-right: auto;
    margin-left: auto;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }

}


.icon-send {
    fill: #ffffff;
    transform: translateY(25%);
    margin-left: 10px;
}