.menu {
    display: none;
    @include tablet{
        display: flex;
        gap: 50px;
    }
    
}

.btn-menu-open {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
        @include tablet {
            display: none;
            }
}

.contacts {
    display: none;
    margin-left: auto;
    gap: 50px;
    a {
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            color: var(--accent-color);
        }
}
@include tablet{
display: block;

}
@include desktop {
    display: flex;
    padding: 32px 0;
}
}

.contacts__link.mail{
    margin-bottom: 10px;
    @include desktop{
        margin-bottom: 0;
    }
}


.contacts__link{
    font-size: 12px;
    @include desktop{
        font-size: 14px;
    }
}


.header__container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}




.menu__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;

    padding: 32px 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.menu__link.current::after {
    content: '';
    display: block;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
}


.menu .menu__link.current {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.contacts__icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
}

.contacts__link:focus,
.contacts__icon,
.contacts__link:hover,
.contacts__icon {
    fill: currentColor;
}


.contacts__link.link {
    display: flex;
    align-items: center;
}


.header {
    border-bottom: 1px solid var(--border-color);
}

.mob-menu{
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    >.container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        padding-top: 21px;
        padding-bottom: 48px;
        padding-right: 40px;
        padding-left: 40px;
    }
}
.mob-menu__top{
    margin-bottom: 50px;
}

.btn-menu-close{
    border: none;
    background-color: transparent;
    display: block;
    margin-left: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}

.mob-menu__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        color: var(--accent-color);
    }
}

.mob-menu__item:not(:last-child){
margin-bottom: 35px;
}

.mob-contacts__link{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        font-size: 34px;
            color: var(--accent-color) ;
    }
}
.mob-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-contacts{
    margin-bottom: 64px;
}

.mob-soc__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    
    color: var(--accent-color);
}



.mob-soc__item:not(:last-child) {
    &::after{
    display: inline-block;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    margin-left: 10px;
    transform: translateY(25%);

    }
    
}

.mob-soc__item:last-child{
    transform: translateY(25%);
}


.mob-soc__list{
    display: flex;
}

.mob-menu.is-hidden{
    visibility: hidden;
        opacity: 0;
}
