.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 540px;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;

    @include tablet{
        width: 528px;
        height: 581px;
    }

}



.modal-btn-close {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid #0000001A;
    border-radius: 50%;

    cursor: pointer;
    background-color: #fff;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}



.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.modal-form {

    display: flex;
    flex-wrap: wrap;
}

.modal-input {
    width: 370px;
    height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    outline: transparent;
    &:focus {
        border: 1px solid var(--accent-color);
    }

    @include tablet{
    width: 448px;
    height: 40px;
    }
}

.input-img {
    position: absolute;
    top: 11px;
    left: 12px;
    .modal-input:focus+& {
            fill: var(--accent-color);
        }
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-text-area {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
    outline: transparent;

    &:focus {
        border: 1px solid var(--accent-color);
    }
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}


.modal-wrap {
    position: relative;
}

.check-text,
.accept-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.accept-link {
    color: var(--accent-color);
}

.check-text span {
    content: '';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    margin-left: 14px;

    .input-check:checked+& {
        background-color: var(--accent-color);
        fill: #ffffff;
        border-color: transparent;
    }
}

.modal-field {
    margin-bottom: 30px;
}

.btn-send {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    padding: 10px 55px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}