.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin-bottom: 50px;

    @include desktop{
        font-size: 36px;
        line-height: 1.16;
    }
}

.occupation {
    margin-bottom: 94px;
    display: none;
    @include desktop{
        display: block;
    }
}

.occupation__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
}

.occupation__img-thumb {
    position: relative;
}


.occupation__img-text {
    position: absolute;
    left: 0;
    bottom: 0;


    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
    text-transform: uppercase;


    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

}