.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--third-background-color);

}

.team__container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.team__list {
    display: block;
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    @include desktop{
        display: flex;
        gap: 30px;
    }

}

.team__item{
    max-width: 480px;
    &:not(last-child){
        margin-bottom: 30px;
    }
    @include tablet{
        width: calc((100% / 2) - 30px);
    }
    @include desktop{
        flex-basis: calc((100% - 90px) / 4);
    }
}

.team__item-content {
    padding: 30px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__img .no-gap {
    display: block;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin-bottom: 10px;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.team__soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team__soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: var(--accent-color);
        fill: var(--primary-background-color);
    }

}
