:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-background-color: #fff;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --border-color: #ECECEC;
}